/S1/HalfSLG/[Ll]ibrary/
/S1/HalfSLG/[Tt]emp/
/S1/HalfSLG/[Oo]bj/
/S1/HalfSLG/[Bb]uild/
/S1/HalfSLG/[Bb]uilds/
/S1/HalfSLG/Assets/AssetStoreTools*

/S2/HalfSLG/[Ll]ibrary/
/S2/HalfSLG/[Tt]emp/
/S2/HalfSLG/[Oo]bj/
/S2/HalfSLG/[Bb]uild/
/S2/HalfSLG/[Bb]uilds/
/S2/HalfSLG/Assets/AssetStoreTools

/S3/HalfSLG/[Ll]ibrary/
/S3/HalfSLG/[Tt]emp/
/S3/HalfSLG/[Oo]bj/
/S3/HalfSLG/[Bb]uild/
/S3/HalfSLG/[Bb]uilds/
/S3/HalfSLG/Assets/AssetStoreTools*

/S4/HalfSLG/[Ll]ibrary/
/S4/HalfSLG/[Tt]emp/
/S4/HalfSLG/[Oo]bj/
/S4/HalfSLG/[Bb]uild/
/S4/HalfSLG/[Bb]uilds/
/S4/HalfSLG/Assets/AssetStoreTools*

/S5/HalfSLG/[Ll]ibrary/
/S5/HalfSLG/[Tt]emp/
/S5/HalfSLG/[Oo]bj/
/S5/HalfSLG/[Bb]uild/
/S5/HalfSLG/[Bb]uilds/
/S5/HalfSLG/Assets/AssetStoreTools*

/S6/HalfSLG/[Ll]ibrary/
/S6/HalfSLG/[Tt]emp/
/S6/HalfSLG/[Oo]bj/
/S6/HalfSLG/[Bb]uild/
/S6/HalfSLG/[Bb]uilds/
/S6/HalfSLG/Assets/AssetStoreTools*

/S7/HalfSLG/[Ll]ibrary/
/S7/HalfSLG/[Tt]emp/
/S7/HalfSLG/[Oo]bj/
/S7/HalfSLG/[Bb]uild/
/S7/HalfSLG/[Bb]uilds/
/S7/HalfSLG/Assets/AssetStoreTools*

/S8/HalfSLG/[Ll]ibrary/
/S8/HalfSLG/[Tt]emp/
/S8/HalfSLG/[Oo]bj/
/S8/HalfSLG/[Bb]uild/
/S8/HalfSLG/[Bb]uilds/
/S8/HalfSLG/Assets/AssetStoreTools*

/S9/HalfSLG/[Ll]ibrary/
/S9/HalfSLG/[Tt]emp/
/S9/HalfSLG/[Oo]bj/
/S9/HalfSLG/[Bb]uild/
/S9/HalfSLG/[Bb]uilds/
/S9/HalfSLG/Assets/AssetStoreTools*

/S10/HalfSLG/[Ll]ibrary/
/S10/HalfSLG/[Tt]emp/
/S10/HalfSLG/[Oo]bj/
/S10/HalfSLG/[Bb]uild/
/S10/HalfSLG/[Bb]uilds/

/S11/HalfSLG/[Ll]ibrary/
/S11/HalfSLG/[Tt]emp/
/S11/HalfSLG/[Oo]bj/
/S11/HalfSLG/[Bb]uild/
/S11/HalfSLG/[Bb]uilds/

/S12/HalfSLG/[Ll]ibrary/
/S12/HalfSLG/[Tt]emp/
/S12/HalfSLG/[Oo]bj/
/S12/HalfSLG/[Bb]uild/
/S12/HalfSLG/[Bb]uilds/

# Visual Studio 2015 cache directory
/.vs/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Unity3D generated meta files
*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt

# Builds
*.apk
*.unitypackage
